@charset"utf-8";

body {
margin:0;
font-family:Arial;
}

#logo {
style:width:100px;height:95px;
display:inline-block;
float:left;
padding-left:110px;
padding-top:5px;
}



#NavBar {
list-style-type:none;
margin: 0;
padding: 0;
width: 100%;
overflow:hidden;
position:fixed;
background-color:rgb(5,6,66);
z-index: +11;
}


.NavBarLeft {
float:left;
}

.NavBarRight {
float:right;
}

.NBContent {
color:white;
font-size:18px;
text-align: center;
display:block;
padding:30px;
text-decoration: none;
}

#ActiveNBContent {
text-decoration:underline;
text-underline-position: under;
}

.NBContent:hover {
text-decoration:underline;
text-underline-position: under;
}

div.gallery {
   background-color: #fff;
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive { 
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background-color: #033236;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius:15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.P0009 {
  background-color: #033236;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius:15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.P0010{
  background-color: #033236;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius:15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.P0011 {
  background-color: #033236;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius:15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.P0012 {
  background-color: #033236;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius:15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.P0013 {
  background-color: #033236;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius:15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.P0014 {
  background-color: #033236;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius:15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.P0015 {
  background-color: #033236;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius:15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.P0016 {
  background-color: #033236;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius:15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


body {
	background-image: url("../images/bg5.jpg");
	background-repeat: no repeat;
	background-size: cover;
}


footer {
background-repeat: no-repeat;
background-image: url("../images/footer.jpg");
background-color:white;
background-position:center;
height:200px;
position:relative;
background-size:cover;
background-attachment: fixed;
z-index:-1;
margin-top:100px;
margin-bottom:0;
}


.footerImage {
	float:left;
	position:relative;
	z-index:8;
	height:200px;
	width:200px;
	margin-top:0px;
	margin-bottom:0;
}
.slogan {
	color:white;
	float:left;
	padding: 5px 20px 15px 0;
	margin-top:40px;
	border-right:3px solid white;
	vertical-align:center;
}

.slogan p{
	color:white;
	font-family:"Lucida Handwriting";
}

.bold, .normal{
color:white;
}

.bold{
	font-size:18px;
}

.normal a{
	color:white;
	text-decoration:none;
}

.about, .contactUs {
	float:left;
	padding:5px 5px 5px 10px;
	margin: 20px 5px 20px 20px;
}









.searchForm {
border-radius: 60px;
border:0;
background-color:white;
display: flex;
width:50%;
}

.searchForm input {
	background: transparent;
	flex:1;
	border:0;
	outline:none;
	padding:10px;
}

::placeholder {
	color:rgba(5, 6, 66,0.8);
	font-size:15px;
	padding-left: 7px;
	border:0;
}

.searchForm button img{
	width: 30px;
}

.searchForm button {
	border: 0;
	border-radius: 50%;
	background-color:rgba(5, 6, 66);
	width: 60px;
	height: 60px;
	cursor:pointer;
}


#search {
border-radius:6px;
padding:50px;
background-color:black;
margin-top:-40px;
Opacity:0.7;
width:80%;

}
