.fnew{
	
	background-color: rgba(5, 6, 66,0.9);
	width: 93.4%;
	padding: 50px;
	height: auto;
	margin-top:100px;
	border-radius: 50px;
	left: 0;
	right: 0;
}
.fcontainer{
	display: flex;
	justify-content: center;
	margin: 30px;
}
.ftext{
	display: flex;
	justify-content: center;
	margin: 50px;
	
		
}
.fbutton{
	display: flex;
	justify-content: center;
	
}
.frate{
	display: flex;
	justify-content: center;
	margin: 30px;
}
.ratings-css{
	display: flex;
	justify-content: center;
}
.star-icon{
	display: flex;
	justify-content: center;
}
.rating-css input{
	display: none;
}
.rating-css input + label{
	font-size: 60px;
	text-shadow: 1px 1px 0 #ffe400;
	cursor: pointer;
}
.rating-css input:checked + label~label{
	color:#838383;
}
.rating-css label:active{
	transform: scale(0.8);
	transition: 0.3s ease;
}

.lab {
	color:white;
}


	